@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

.fullWatch {
    background-color: #000;
  }
  
  .watch {
    position: relative;
    margin: 50px auto;
    width: 300px;
    height: 300px;
    scale: 150%;
    top: 150px;
    background: #2f4f4f;
    border-radius: 10%;
  }
  
  .digital {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
  }
  
  .analogue {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #19231f;
    border: 8px solid #c5bac4;
  }
  
  .hour-hand,
  .minute-hand,
  .second-hand {
    position: absolute;
    top: 20%;
    left: 50%;
    right: 50%;
    transform-origin: bottom;
  }
  
  .hour-hand {
    width: 6px;
    height: 35%;
    top: 25%;
    background-color: #57707a;
    z-index: 3;
    transform-origin: 50% 77%;
  }
  
  .minute-hand {
    width: 4px;
    height: 45%;
    background-color: #7b919c;
    z-index: 2;
    transform-origin: 93% 74%;
  }
  
  .second-hand {
    width: 2px;
    height: 50%;
    background-color: #989daa;
    z-index: 4;
    transform-origin: 100% 67%;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 49%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    z-index: 4;
  }
  
  @keyframes rotate {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }
  
 