@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

.fullWatch {
  background-color: #000;
  }
  
  .watch {
    position: relative;
    margin: 50px auto;
    width: 300px;
    height: 300px;
    scale: 150%;
    top: 150px;
    background: url(bg_1.png);
    background-size: contain;
    border-radius: 10%;
    filter: drop-shadow(5px 3px);
  }
  
  .digital {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #91d4e5;
    text-shadow: 1px 1px 2px #000;
  }
  
  .analogue {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background:url(bg_2.jfif);
    filter: drop-shadow(3px 3px );
    background-size: 300px 300px;
    background-position: center;
    border: 8px solid rgba(37, 37, 42, 0.4);
  }
  
  .hour-hand,
  .minute-hand,
  .second-hand {
    position: absolute;
    top: 20%;
    left: 50%;
    right: 50%;
    transform-origin: bottom;
  }
  
  .hour-hand {
    width: 6px;
    height: 35%;
    top: 25%;
    background-color: #ff2b2b;
    border: solid #fff 2px;
    border-radius: 5px;
    z-index: 3;
    transform-origin: 50% 77%;
  }
  
  .minute-hand {
    width: 4px;
    height: 45%;
    background-color: #ff2b2b;
    border: solid #fff 2px;
    border-radius: 3px;
    z-index: 2;
    transform-origin: 93% 74%;
  }
  
  .second-hand {
    width: 2px;
    height: 50%;
    background-color: #ffaa00;
    border: solid #fff 2px;
    border-radius: 3px;
    z-index: 4;
    transform-origin: 100% 67%;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 49%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    border: solid #fff 1px;
    z-index: 4;
  }
  
  @keyframes rotate {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }
  
 