.text-center{
    text-align: center;
}
.Button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: coral;
}
button.Button{
padding: 15px;
border-radius: 9px;
border-color: chartreuse;
background-color: black;
margin: 2px;
transition: color 300ms;

}
input.input {
border: solid black;
border-radius: 6px;
font-size: x-large;
max-width: 160px;
padding: 5px 10px
}
button.Button:hover{
    color: yellow;
}